* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
main {
  height: 100%;
  background-color: #000000;
}

body {
  font-family: "Comic Neue", cursive;
  background-image: url("/janderson/assets/background.jpg");
  background-repeat: repeat;
  padding: 4rem;
}

main {
  position: relative;
  text-align: center;
}

main::after {
  content: "";
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
  width: calc(100% - 5rem);
  height: calc(100% - 5rem);
  background-color: #000;
  z-index: -1;
}

h1 {
  display: inline-block;
  font-size: 5rem;
  background: linear-gradient(
    90deg,
    #ff0090 0%,
    #ff8400 20%,
    #ffe000 40%,
    #6aff00 60%,
    #00cbff 80%,
    #8900ff 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

h2 {
  margin-top: 1rem;
  color: #ffe000;
}

.container {
  display: flex;
  justify-content: space-between;
}

.main-picture {
  max-width: 26rem;
  max-height: 29.5rem;
  height: 50vh;
  margin-top: 2rem;
}

.side-picture {
  max-width: 9.5rem;
  animation: rotate 2s infinite;
}

.side-picture:nth-child(even) {
  animation-direction: reverse;
  animation-duration: 3s;
}

.happy-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: -5rem;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(40deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-40deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 600px) {
  body {
    padding: 1rem;
  }

  main::after {
    top: 0.5rem;
    left: 0.5rem;
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
  }

  h1 {
    font-size: 3.5rem;
  }

  .container {
    flex-direction: column;
  }

  .happy-column {
    flex-direction: row;
    margin-top: 1rem;
  }

  .side-picture {
    max-width: 6rem;
  }
}
